#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  /* font-style: normal; */
}

/* GoogleFonts pre-sets 
font-optical-sizing: auto;
font-weight: 200;
font-style: normal; */